.code {
  background-color: var(--gray-800);
  color: var(--gray-100);
  font-family: monospace;
  padding: var(--spacing-3);
  border-radius: var(--border-radius-medium);
}

.container {
  color: var(--gray-600);
}