.container {
  width: 100%;
  margin: 0 auto;
  color: var(--gray-700);
  border-radius: var(--border-radius-large);
  box-shadow: var(--bs-primary);

  tr {
    border-bottom: 1px solid var(--gray-200);
  }

  thead th {
    font-family: Ubuntu, Roboto, sans-serif;
    color: var(--gray-700);
    font-size: var(--d-title-5);
    font-weight: 500;
    height: 4rem;
  }

  tbody {
    color: var(--gray-700);

    tr:nth-child(odd) {
      background: var(--gray-100);
    }

    td {
      font-family: Roboto, sans-serif;
      color: var(--gray-700);
      font-size: var(--body-2);
    }

    tr:last-child {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }
  }

  tfoot {
    height: 1.5rem;
    border-bottom: 0;
    border-color: transparent;
  }

  .icon {
    cursor: pointer;
  }

  @media (min-width: 769px) {
    width: 60%;
  }
}

.cellActions {
  width: 130px;
}

.root {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: var(--spacing-4);
}

.actions {
  width: 100%;
  margin: 0 auto;

  @media (min-width: 769px) {
    width: 60%;
  }
}