.cubo{
    width: 800px;
    height:800px;
}

.divContainer{
    // height:600px;
    width: 890px;
    overflow: auto;

    // resize: both;
    background: #fff;
    min-width: 300px;
    min-height:600px;
    border-radius:5px;
    margin:10px;
    display:flex;


}

.GeometryContainer{
    height: 100%;
    width: 100%;
    border: 2px solid #ccc;
    overflow: auto;
    resize: both;
    min-height: 300px;
}

.leva{
    height: 100%;
    background: #fffafa;
    min-width: 287px;


}