.cubo{
    width: 800px;
    height:800px;
}

.divContainer{
    height:600px;
    width: 600px;
    overflow: auto;
    resize: both;
    background: #ef476f;
min-width: 300px;
min-height:400px;
border-radius:5px;
margin:10px
}

.GeometryContainer{
    height: 100%;
    width: 100%;
    border: 2px solid #ccc;
    resize: both;
}