.span {
  color: var(--gray-500);
}

.container {
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.message {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  gap: 0.5em;
}

.claimsContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  min-height: 255px;
  padding: var(--spacing-4);
  align-items: center;
  border: 1px solid var(--gray-200);
  border-radius: var(--border-radius-medium);
  gap: var(--spacing-3);
}

.claimsContainer[data-view="true"] {
  background-color: var(--gray-200);
}