.tarjetaform{
    background-color: aquamarine;
}

.formRoot{
    display: flex;
    margin:10px;
    flex-wrap: wrap;
    max-width: 600px;
    margin-left:20px;
    margin-top: 10px;;
}

.input{
    width: 20%;
    display: block;
    margin-left: 5px;
}

.input2{
    display: block;
}

.input > span{
    display: inline-block;
}
